<div class="award-list__item">
  <div class="award-id">
    {{award.approvalId || '-'}}
  </div>
  <div class="award-name">
    {{award.vendorname || '-'}}
  </div>
  <div class="award-address">
    {{award.vendor_addr || '-'}}
  </div>
  <div class="award-designation">
    {{award.vendor_preference || '-'}}
  </div>
  <div class="award-contact">
    {{award.billnumber || '-'}}
  </div>
  <div class="award-contact">
    {{award.date || '-'}}
  </div>
  <div class="award-contact">
    {{award.billamount || '-'}}
  </div>
  <div class="award-contact">
    {{award.unitprice || '-'}}
  </div>
  <div class="award-contact">
    {{award.netbillamount || '-'}}
  </div>
  <div class="award-contact">
    {{award.gst_tax || '-'}}
  </div>
  <div class="award-contact">
    {{award.shipping_handling_chrg || '-'}}
  </div>
  <div class="award-contact">
    {{award.description_warranty || '-'}}
  </div>
  <div class="award-contact">
    {{award.deliveryschedule || '-'}}
  </div>
  <div class="award-contact">
    {{award.payterms || '-'}}
  </div>
  <div class="award-file">
      <a *ngIf="award.filePath" href="{{award.filePath}}" target="_blank">File</a>
      <!-- <a *ngIf="!approval.filePath && approval.approval_type =='Award Approval'" href="../award-dashboard?id={{approval.approvalId }}">Vendor dashboard</a> -->
      <!-- <a *ngIf="!approval.filePath && approval.approval_type =='Claim against advance/PO'" href="../bill-dashboard?id={{approval.claimId }}">Bills dashboard</a> -->
  </div>
</div>
