mat-form-field {
    width: 100%
}
.mat-dialog-content {
    font-size: 1.4rem !important;
    font-family: 'Rubik', sans-serif;
}
.mat-dialog-actions {
    justify-content: center !important;
}
pre {
    font-family: 'Rubik', sans-serif;
}