<h1 mat-dialog-title>Select the zonal finance approver or pass to central</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Approver</mat-label>
    <mat-select name="approver" ngModel #approverInput="ngModel" required>
      <mat-option *ngFor="let approver of approverList" [value]="approver.email">
        {{approver.email}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="approverInput.invalid"> Please provide zone </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
    type="text"
    placeholder="Remarks" name="remarks" ngModel #remarksInput="ngModel">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="!approverInput.value" [mat-dialog-close]="{email: approverInput.value, remarks: remarksInput.value}" cdkFocusInitial>Send</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="2">Pass to Central Level Approver</button>
  <button mat-button [mat-dialog-close]="0">Cancel</button>
</div>
