<div class="approvals-list__item">
  <div class="approval-id">
    {{approval.approvalId || '-'}}
    </div>
  <div class="approval-name">
    {{approval.name || '-'}}
  </div>
  <div class="approval-email">
      {{approval.email || '-'}}
  </div>
  <div class="approval-type">
    {{approval.approval_type || '-'}}
  </div>
  <div class="approval-body" (click)="openBody ? openBody = false : openBody = true">
    Details
    <div class="arrow-icon" [ngClass]="{'icon-rotate': openBody}"></div>
  </div>
  <div class="approval-designation">
      {{approval.designation || '-'}}
  </div>
  <div class="approval-contact">
      {{approval.contact || '-'}}
  </div>
  <div class="approval-createdAt">
    {{approvalCreatedDate || '-'}}
  </div>
  <div class="approval-amount">
      {{approval.amount || '-'}}
  </div>
  <div class="approval-amount">
    {{'500'}}
  </div> 
  <div class="approval-amount">
    {{'1000'}}
  </div>
  <div class="approval-amount">
    {{'1500'}}
  </div> 
  <div class="approval-amount">
    {{'2000'}}
  </div>
  <div class="approval-zone">
      {{approval.zone || '-'}}
  </div>
  <div class="approval-file">
      <a *ngIf="approval.filePath" href="{{approval.filePath}}" target="_blank">File</a>
      <span *ngIf="!approval.filePath">-</span>
  </div>
  <div (click)="openTimeline()" [ngClass]="{'approved': approval.status == 'approved' || approval.status == 'transferred', 'rejected': approval.status == 'rejected'}" class="approval-status">
      {{approval.status | uppercase }}
      <div *ngIf="approval.status != 'new' && approval.mediator_remarks" class="remarks-icon" [matTooltip]="approval.mediator_remarks">?</div>
  </div>
  <div class="approval-action">
    <div class="action-icon" [matMenuTriggerFor]="actionMenu"></div>
  </div>
</div>
<div class="approval-body-item" *ngIf="openBody">
  <p><strong>Approval Subject: </strong>{{approval.subject}}</p><br>
  <p><strong>Approval Details: </strong><pre>{{approval.body}}</pre><br>
  <p *ngIf="approval.payment_details"><strong>Payment Details: </strong><pre>{{approval.payment_details}}</pre><br>
  <p *ngIf="approval.advance_details"><strong>Advance Details: </strong><pre>{{approval.advance_details}}</pre>
</div>
<mat-menu #actionMenu="matMenu">
    <button mat-menu-item (click)="sendToApprover()">Send to Approver</button>
    <button mat-menu-item (click)="confirmSend()">Send to {{zone}}</button>
    <button mat-menu-item (click)="notifyInitiator()">Notify Initiator</button>
    <button mat-menu-item [disabled]="approval.status != 'approved'" (click)="fundTransfer()">Fund Transfer</button>
    <button mat-menu-item (click)="printApproval()">Print</button>
    <button mat-menu-item (click)="deleteApproval()">Delete</button>
</mat-menu>
