<div class="approvals-list__item">
  <div class="approval-name">
    {{approval.name}}
  </div>
  <div class="approval-email">
      {{approval.email}}
  </div>
  <div class="approval-body" (click)="openBody ? openBody = false : openBody = true">
    Body
    <div class="arrow-icon" [ngClass]="{'icon-rotate': openBody}"></div>
  </div>
  <div class="approval-designation">
      {{approval.designation}}
  </div>
  <div class="approval-contact">
      {{approval.contact}}
  </div>
  <div class="approval-createdAt">
    {{approvalCreatedDate}}
  </div>
  <div class="approval-amount">
      {{approval.amount}}
  </div>
  <div class="approval-zone">
      {{approval.zone}}
  </div>
  <div class="approval-file">
    <a *ngIf="approval.filePath" href="{{approval.filePath}}" target="_blank">File</a>
    <span *ngIf="!approval.filePath">-</span>
  </div>
  <div (click)="openTimeline()" [ngClass]="{'approved': approval.status == 'approved', 'rejected': approval.status == 'rejected'}" class="approval-status">
      {{approval.status | uppercase }}
      <div *ngIf="approval.status != 'new' && approval.mediator_remarks" class="remarks-icon" [matTooltip]="approval.mediator_remarks">?</div>
  </div>
  <div class="approval-action">
    <div class="action-icon" [matMenuTriggerFor]="actionMenu"></div>
  </div>
</div>
<div class="approval-body-item" *ngIf="openBody">
  <p><strong>Subject: </strong>{{approval.subject}}</p><br>
  <p><strong>Body: </strong>{{approval.body}}</p>
</div>
<mat-menu #actionMenu="matMenu">
    <button mat-menu-item (click)="sendToApprover()">Send to Approver</button>
    <button mat-menu-item (click)="confirmSend()">Send to {{zone}}</button>
    <button mat-menu-item (click)="notifyInitiator()">Notify Initiator</button>
    <button mat-menu-item (click)="printApproval()">Print</button>
</mat-menu>
