<section class="bill-list__header">
  <div class="bill-list__header--title">
    <strong>Bills List</strong>
  </div>
</section>
<div class="a-table">
  <section class="bill-table">
    <div class="bill-table__header">
      <div class="bill-id">
        Approval Id
      </div>
      <div class="bill-name">
        Claim ID 
      </div>
      <div class="bill-email">
        Vendor name
      </div>
      <div class="bill-body">
        Bill Number
      </div>
      <div class="bill-designation">
        Bill Number
      </div>
      <div class="bill-contact">
        Bill Amount
      </div>
      <div class="bill-contact">
        File
      </div>
      <div class="bill-contact">
       Description
      </div>
      <div class="bill-contact">
       Date
      </div>
    </div>
    <!-- <div class="approvals-table__body">
      <app-award-list-item *ngFor="let award of awardList" [award]="award" [awardList]="awardList" [openBody]="openBody" (actionOccured)="handleEvent($event)"></app-award-list-item>
    </div> -->
  </section>
</div>

