<section class="agents-summary__header">
    <div class="agents-summary__header--title">
      Approval Lists
    </div>
  </section>
  <div class="a-table">
  <section class="agents-table">
    <div class="agents-table__header">
      <div class="approval-name">
        Name
        <!-- <i [ngClass]="{'i-rotate': sortAgentName}" class="icon-arrow-down"></i> -->
      </div>
      <div class="approval-email">
        Email
        <!-- <i [ngClass]="{'i-rotate': sortAgentStatus}" class="icon-arrow-down"></i> -->
      </div>
      <div class="approval-body">
        Body
        <!-- <i [ngClass]="{'i-rotate': sortOpen}" class="icon-arrow-down"></i> -->
      </div>
      <div class="approval-designation">
        Designation
        <!-- <i [ngClass]="{'i-rotate': sortPending}" class="icon-arrow-down"></i> -->
      </div>
      <div class="approval-contact">
        Contact
        <!-- <i [ngClass]="{'i-rotate': sortAwaiting}" class="icon-arrow-down"></i> -->
      </div>
      <div class="approval-amount">
        Amount
        <!-- <i [ngClass]="{'i-rotate': sortWorked}" class="icon-arrow-down"></i> -->
      </div>
      <div class="approval-zone">
        Zone
        <!-- <i [ngClass]="{'i-rotate': sortResolved}" class="icon-arrow-down"></i> -->
      </div>
      <div class="approval-status">
        Status
        <!-- <i [ngClass]="{'i-rotate': sortResolved}" class="icon-arrow-down"></i> -->
      </div>
      <div class="approval-action">
        Action
        <!-- <i [ngClass]="{'i-rotate': sortResolved}" class="icon-arrow-down"></i> -->
      </div>
    </div>
    <div class="agents-table__body">
      <app-approval-list-item *ngFor="let approval of approvalList" [approval]="approval" [approverList]="approverList" (actionOccured)="handleEvent($event)"></app-approval-list-item>
    </div>
    <!-- <div class="agents-table__footer"> -->
        <!-- <p-paginator [rows]="5" [totalRecords]="20" [pageLinkSize]="5" [first]="1" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator> -->
    <!-- </div> -->
  </section>
</div>
