.approvals-list__header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
}
.approvals-list__header--print {
  cursor: pointer;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  background: rgba(65, 131, 215, 1);
  color: #fff;
  border-radius: 3px;
  align-self: flex-end;
}
.approval-search {
  width: 30%;
}
.approval-search input {
    width: 100%;
    height: 30px;
    border-style: none;
    border: 1px solid rgba(65, 131, 215, 1);
    border-radius: 5px;
    padding: 1px 5px;
    outline: none;
    background: #eff2f7;
}
.approvals-table {
  display: flex;
  margin: 20px;
  min-width: 100%;
  width: 2200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 #cfd8dc;
  font-family: 'Rubik', sans-serif;
}

.approvals-table__header {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr)) 10px;
    align-items: center;
    justify-items: center;
    font-size: 1.2rem;
    background-color: rgba(65, 131, 215, 1);
    font-weight: 400;
}

    .approvals-table__header div {
      cursor: pointer;
      color: #fff;
    }

    .approvals-table__header div:hover i {
      opacity: 1;
    }

    .approvals-table__header  i {
      font-size: 7px;
      display: inline-block;
      opacity: 0;
      color: rgba(0,0,0,.54);
      transition: opacity 0.2s, transform 0.5s ease-in-out;
    }

  .approvals-table__body {
    max-height: 75vh;
    background-color: #eff2f7;
    width: 100%;
    overflow-y: auto;
    border-bottom: 2px solid #e6e6e6;
  }
  app-approval-list-item:nth-of-type(odd) {
    background-color: #fff;
  }

  .approvals-table__footer {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    background: #fff;
    width: 100%;
  }
  .arrow-icon {
    height: 10px;
    width: 10px;
    margin-left: 2px;
    background-color: black;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    transition: transform 0.5s;
    display: none;
  }
.i-rotate {
  transform: rotate(180deg);
}
.a-table {
  overflow-y: auto;
}
.approval-createdAt, .approval-amount {
  display: flex;
  align-items: center;
}
.approval-createdAt:hover .arrow-icon, .approval-amount:hover .arrow-icon {
  display: block;
}
.approval-status, .approval-zone{
  font-size:12px;
}
.approval-status-selected{
  color:white;
}
.approval-status1, .approval-zone1, .approval-type1{
  width:10px;
}