<section class="approvals-list__header">
    <div class="approvals-list__header--title">
      <strong>Approvals List</strong>
    </div>
    <div class="approval-search">
      <input type="text" placeholder="Search" [(ngModel)]="searchText" (keyup)="searchApproval()"/>
    </div>
    <div class="approval-calender">
      <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start' [endDate]='end'></ejs-daterangepicker>

     <!-- <mat-form-field>
     <input matInput [matDatepicker]="myDatePicker">
     <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
     <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field> -->
    </div>
    <div class="approvals-list__header--print" (click)="openBodyAndCreatePdf()">
      Print
    </div>
  </section>
  <div class="a-table">
  <section class="approvals-table">
    <div class="approvals-table__header">
      <div class="approval-id">
        Approval Id
      </div>
      <div class="approval-name">
        Name
      </div>
      <div class="approval-email">
        Email
      </div>
      <div class="approval-type">
        <button mat-button class="approval-status" (click)="selectApproval.open()" >
          Approval Type
          <mat-select class="approval-type1"  #selectApproval [(ngModel)]="selectedApprovalType" multiple (openedChange)="openedChange($event)" >
            <mat-option  (click)="selectedApprovalType = undefined; selectApproval.open();" >Clear All</mat-option>
            <mat-option value="Claim against advance">Claim against advance</mat-option>
            <mat-option  value="Advance or Imprest">Advance or Imprest</mat-option>
            <mat-option  value="Claim">Claim</mat-option>
            <mat-option  value="In Principle or Admin Approval">In Principle or Admin Approval</mat-option>
            <mat-option  value="Award Approval">Award Approval</mat-option>
          </mat-select>
       </button>
      
      </div>
      <div class="approval-body">
        Approval Details
      </div>
      <div class="approval-designation">
        Designation
      </div>
      <div class="approval-contact">
        Contact
      </div>
      <div class="approval-createdAt" (click)="sortApproval('date')">
        Created At
        <div [ngClass]="{'i-rotate': sortDateAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-amount" (click)="sortApproval('amount')">
        Award Value
        <div [ngClass]="{'i-rotate': sortAmountAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-amount" (click)="sortApproval('amount')">
        Requisit Amount
        <div [ngClass]="{'i-rotate': sortAmountAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-amount" (click)="sortApproval('amount')">
        Advance Amount
        <div [ngClass]="{'i-rotate': sortAmountAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-amount" (click)="sortApproval('amount')">
        Claim Amount
        <div [ngClass]="{'i-rotate': sortAmountAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-amount" (click)="sortApproval('amount')">
        Utilized Amount
        <div [ngClass]="{'i-rotate': sortAmountAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-amount" (click)="sortApproval('amount')">
        Unutilized Amount
        <div [ngClass]="{'i-rotate': sortAmountAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-zone">
        <button mat-button class="approval-zone" (click)=zoneInput.open()>
          Zone
            <!-- <mat-label></mat-label> -->
            <mat-select class="approval-zone1" name="zone" [(ngModel)]="selectedZone" #zoneInput  multiple (openedChange)="openedChange($event)">
              <mat-option  (click)="selectedZone = undefined; zoneInput.open();" >Clear All</mat-option>
              <mat-option *ngFor="let zone of zonesList" [value]="zone.name">
                {{zone.name}}
              </mat-option>
            </mat-select>
            
       </button>
      </div>
      <div class="approval-file">
        File
      </div>
      <div class="approval-status">
         
        <button mat-button class="approval-status" (click)="selectStatus.open()" >
          Status
          <mat-select class="approval-status1" #selectStatus [(ngModel)]="selectedStatus" multiple (openedChange)="openedChange($event)" >
            <mat-option  (click)="selectedStatus = undefined; selectStatus.open();" >Clear All</mat-option>
            <mat-option value="new">NEW</mat-option>
            <mat-option  value="pending">PENDING</mat-option>
            <mat-option  value="rejected">REJECTED</mat-option>
            <mat-option  value="transferred">TRANSFERRED</mat-option>
            <mat-option  value="approved">APPROVED</mat-option>
            <mat-option  value="to Central">TO CENTRAL</mat-option>
          </mat-select>
       </button>
      </div>
      <div class="approval-action">
        Action
      </div>
    </div>
    <div class="approvals-table__body">
      <app-approval-list-item *ngFor="let approval of approvalList" [approval]="approval" [approverList]="approverList" [openBody]="openBody" (actionOccured)="handleEvent($event)"></app-approval-list-item>
    </div>
  </section>
</div>
