<section class="approvals-list__header">
    <div class="approvals-list__header--title">
      Approvals List
    </div>
    <div class="approval-search">
      <input type="text" placeholder="Search" [(ngModel)]="searchText" (keyup)="searchApproval()"/>
    </div>
    <div class="approvals-list__header--print" (click)="openBodyAndCreatePdf()">
      Print
    </div>
  </section>
  <div class="a-table">
  <section class="approvals-table">
    <div class="approvals-table__header">
      <div class="approval-name">
        Name
      </div>
      <div class="approval-email">
        Email
      </div>
      <div class="approval-body">
        Body
      </div>
      <div class="approval-designation">
        Designation
      </div>
      <div class="approval-contact">
        Contact
      </div>
      <div class="approval-createdAt" (click)="sortApproval('date')">
        Created At
        <div [ngClass]="{'i-rotate': sortDateAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-amount" (click)="sortApproval('amount')">
        Amount
        <div [ngClass]="{'i-rotate': sortAmountAsc}" class="arrow-icon"></div>
      </div>
      <div class="approval-zone">
        Zone
      </div>
      <div class="approval-status">
        Status
      </div>
      <div class="approval-action">
        Action
      </div>
    </div>
    <div class="approvals-table__body">
      <app-approval-list-item *ngFor="let approval of approvalList" [approval]="approval" [approverList]="approverList" [openBody]="openBody" (actionOccured)="handleEvent($event)"></app-approval-list-item>
    </div>
    <!-- <div class="agents-table__footer"> -->
        <!-- <p-paginator [rows]="5" [totalRecords]="20" [pageLinkSize]="5" [first]="1" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator> -->
    <!-- </div> -->
  </section>
</div>
