
<div class="floating">
<mat-form-field class="sizee">
    <input matInput type="number"  placeholder="Bill Number" name="billNumber" ngModel #billNumberInput="ngModel" required>
    <mat-error *ngIf="billNumberInput.invalid"> Please enter bill number</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="number" placeholder="Bill Amount" name="billAmount" ngModel #billAmountInput="ngModel" required>
    <mat-error *ngIf="billAmountInput.invalid"> Please enter bill Amount</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="text" placeholder="Vendor" name="vendor" ngModel #vendorInput="ngModel" required>
    <mat-error *ngIf="vendorInput.invalid"> Please enter vendor</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="text"
   placeholder="Discription"  name="body" ngModel #DiscriptionInput="ngModel" required minlength="20">
    <mat-error *ngIf="DiscriptionInput.invalid"> Please provide Discription (min character 20)</mat-error>
</mat-form-field>
<mat-form-field>
    <input type="file" class="sizee1 filename"  placeholder="Bill copy" name="billImage" ngModel #billImageInput="ngModel" required>
    <mat-error *ngIf="billImage.invalid"> Please upload a file </mat-error>  
</mat-form-field>
</div>
