<section class="award-list__header">
  <div class="award-list__header--title">
    <strong>Awards List</strong>
  </div>
</section>
<div class="a-table">
  <section class="award-table">
    <div class="award-table__header">
      <div class="award-id">
        Approval Id
      </div>
      <div class="award-name">
        Vendor Name
      </div>
      <div class="award-email">
        Vendor address
      </div>
      <div class="award-body">
        Vendor address
      </div>
      <div class="award-designation">
        Bill Number
      </div>
      <div class="award-contact">
        Bill Amount
      </div>
      <div class="award-contact">
        Delivery Schedule
      </div>
      <div class="award-contact">
        Payment Terms
      </div>
      <div class="award-contact">
        Bill Amount
      </div>
      <div class="award-contact">
       File
      </div>
    </div>
    <!-- <div class="approvals-table__body">
      <app-award-list-item *ngFor="let award of awardList" [award]="award" [awardList]="awardList" [openBody]="openBody" (actionOccured)="handleEvent($event)"></app-award-list-item>
    </div> -->
  </section>
</div>
