<div class="floating">
<mat-form-field class="sizee">
    <input matInput type="number"  placeholder="Bill Number" name="billNumber" ngModel #billNumberInput="ngModel" required>
    <mat-error *ngIf="billNumberInput.invalid"> Please enter bill number</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="number" placeholder="Bill Amount" name="billAmount" ngModel #billAmountInput="ngModel" required>
    <mat-error *ngIf="billAmountInput.invalid"> Please enter bill Amount</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="text" placeholder="Vendor" name="vendor" ngModel #vendorInput="ngModel" required>
    <mat-error *ngIf="vendorInput.invalid"> Please enter vendor</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="text"
   placeholder="item Discription"  name="body" ngModel #DiscriptionInput="ngModel" required minlength="20">
    <mat-error *ngIf="DiscriptionInput.invalid"> Please provide Discription (min character 20)</mat-error>
</mat-form-field>
<div class="file-input">
    <input type="file" #fileInput (change)="onImagePicked($event)">
    <button class="filebtn" mat-raised-button color="primary" (click)="$event.preventDefault();fileInput.click()">Upload File</button>
  </div>
</div>
<p class="filename" *ngIf="approvalFile">{{approvalFile.name}}</p>

