/* table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
::ng-deep .success {
  background-color: #4caf50;
  color: #fff;
}

::ng-deep .failure {
  background-color: #f03434;
  color: #fff;
} */
