
<div class="floating">
<mat-form-field class="sizee">
    <input matInput type="number"  placeholder="Salary Slip Number" name="Number" [(ngModel)]="salary.number" #billNumberInput="ngModel" required>
    <mat-error *ngIf="billNumberInput.invalid"> Please enter salary slip number</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="number" placeholder="Salary Amount" name="billAmount" [(ngModel)]="salary.amount" #billAmountInput="ngModel" required>
    <mat-error *ngIf="billAmountInput.invalid"> Please enter salary Amount</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="text" placeholder="Employee"  [(ngModel)]="salary.name" value="employee" #vendorInput="ngModel" required>
    <mat-error *ngIf="vendorInput.invalid"> Please enter employee</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="text"
   placeholder=" Discription" name="body" [(ngModel)]="salary.itemDesc" value="itemDesc" #DiscriptionInput="ngModel" required minlength="20">
    <mat-error *ngIf="DiscriptionInput.invalid"> Please provide Discription (min character 20)</mat-error>
</mat-form-field>
<div class="file-input">
    <input type="file" #fileInput (change)="onImagePicked($event)">
    <button class="filebtn" mat-raised-button color="primary" (click)="$event.preventDefault();fileInput.click()">Upload File</button>
  </div>
</div>
<p class="filename" *ngIf="approvalFile">{{approvalFile.name}}</p>

