<h4 style="padding-bottom: 19px;
padding-top: 7px;">Provide Employee(s) detail</h4>
<div class="floating">
<mat-form-field class="sizee">
    <input matInput type="number"  placeholder="Salary Slip Number" name="Number" [(ngModel)]="salary.number" #billNumberInput="ngModel" required>
    <mat-error *ngIf="billNumberInput.invalid"> Please enter salary slip number</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="number" placeholder="Salary Amount" name="billAmount" [(ngModel)]="salary.amount" #billAmountInput="ngModel" required>
    <mat-error *ngIf="billAmountInput.invalid"> Please enter salary Amount</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="text" placeholder="Employee" name="employee" [(ngModel)]="salary.employee" value="employee" #vendorInput="ngModel" required>
    <mat-error *ngIf="vendorInput.invalid"> Please enter employee</mat-error>     
</mat-form-field>
<mat-form-field class="sizee">
    <input matInput type="text"
   placeholder=" Discription" name="body" [(ngModel)]="salary.itemDesc" value="itemDesc" #DiscriptionInput="ngModel" required minlength="20">
    <mat-error *ngIf="DiscriptionInput.invalid"> Please provide Discription (min character 20)</mat-error>
</mat-form-field>
<div class="file-input mt-10 mb-10"> 
    <input type="file" name="file" #salaryInput observeFiles (change)="onsalaryImagePicked($event,b)" />
    <button class="filebtn file-upload-button" color="primary" (click)="$event.preventDefault(); salaryInput.click()" style="color: white;font-size: 13px;margin-bottom: 10px;">⇪</button>
    <p class="filename" style="padding:10px; margin-top:10px; max-width: 250px;" *ngIf="salary.file">{{salary.file.name}}</p>
    
    <button style= "font-weight: 500;
                    color: #7ca3e4;
                    font-size: 15px;
                    background: transparent;
                    border: none;
                    margin-top: 10px;
                    float: right;
                    position: relative;
                    left: 20px;
                    "
    (click)="$event.preventDefault(); removesalaryItem(b)" > - Remove salary slip </button>
</div>
</div>
<div>
    <hr>
    <div>
